body{
    background-color: #dcdbe5;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23ff0000' fill-opacity='0.3' fill-rule='evenodd'/%3E%3C/svg%3E");
}

img:hover{
    cursor: pointer;
}

#gifArea{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 32px;
}

#buttonArea{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gifAmountArea{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 45;
    -moz-border-radius: 45;
    border-radius: 45px;
    -webkit-box-shadow: 0px 0px 8px #000000;
    -moz-box-shadow: 0px 0px 8px #000000;
    box-shadow: 0px 0px 8px #000000;
    font-family: Arial;
    color: #ffffff;
    font-size: 24px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-left: 24px;
    margin-right: 24px;
    transition: all 1s ease;
  }
  
  .btn:hover {
    background: #ff0015;
    background-image: -webkit-linear-gradient(top, #ff0015, #ff7575);
    background-image: -moz-linear-gradient(top, #ff0015, #ff7575);
    background-image: -ms-linear-gradient(top, #ff0015, #ff7575);
    background-image: -o-linear-gradient(top, #ff0015, #ff7575);
    background-image: linear-gradient(to bottom, #ff0015, #ff7575);
    text-decoration: none;
  }